.expand-button {
    position: relative;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border-color: transparent;
}

.plus-sign {
    color: transparent;
}
.plus-sign.active {
    position: absolute;
    font-size: 4.5em;
    left: -5px;
    top: -35px;
    cursor: pointer;
    color: gray;
}
.plus-sign.active:hover {
    color: black;
}

.minus-sign {
    color: transparent;
}
.minus-sign.active {
    position: absolute;
    font-size: 4em;
    left: -4px;
    top: -36px;
    cursor: pointer;
    color: gray;
}
.minus-sign.active:hover {
    color: black;
}
