input {
    color: gray;
    font-size: 1.2rem;
    width: 98%;
    padding: 10px;
    border: hidden;
    border-bottom: 2px lightgray solid;
    margin: 10px;
}
input:focus {
    color: black;
    outline: transparent;
    border-color: gray;
}